.main-nav {
    background-color: #383532;
}

.btn {
    background-color: #383532;
    color: white;
    border: 0;
}

.logo-png {
    width: 160px;
    margin: 10px 50px;
}

.container-fluid {
    padding: 0;
}


.main-logo {
    width: 150px;
}

.sign-in, .sign-up {
    padding: 0 10px;
}

.form-block {
    border: 2px solid darkgray;
}

.input-block {
    border: 1px solid darkgray;
    padding: 0;
}

.col-5 {
    padding: 0;
}

.input-space {
    border: none;
}

button {
    padding: 5px;
}

.col-pd {
    padding: 0;
}

.main-bar {

    padding: 20px;
}

.links-in-bar {
    width: 80%;
}

.main-bar {
    background-color: white;
    color: #383532;
}

.bar-2 {
    background-color: #383532;
    color: white;
    padding: 20px 0;
}

.dropdown .btn {
    background-color: white;
    border: 0;
}

.cards-content {
    background-color: #383532;
    padding-bottom: 20px;
}

.news {
    background-color: #383532;
}

.news .col-5 {
    background-color: white;
    padding: 20px 30px;
}

.news .col-5 {
    border-radius: 9px;
}

.card {
    height: 420px;
}




input[type="radio"] {
    display: none;
}

.cards {
    padding: 0 2%;
}

.cards .card {
    border: 1px solid gray;
    border-radius: 10px;
    flex: 0 0 24%;
    max-width: 24%;
    background-color: #383532;
}
@media (max-width:992px) {
    .cards .card {
        flex: 0 0 100%;
        max-width: 300px;
    }
}
@media (max-width: 767px) {
    .cards {
        justify-content: center !important;
    }
}
input:checked + .card {
    transform: scale(1.1);
    border-color: green;
}